<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outlier.shopping.product.repository.ProductMapper">

<!--    상품 등록-->
    <insert id="save" parameterType="com.outlier.shopping.product.domain.entity.Product"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into product(name, price, manager_id)
        value(#{name}, #{price}, #{manager.id})
    </insert>
</mapper>