<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outlier.shopping.cart.repository.CartMapper">
    <insert id="save" parameterType="com.outlier.shopping.cart.domain.entity.CartItem"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into cart_item(member_id, product_id, quantity)
        value(#{member.id}, #{product.id}, #{quantity})
    </insert>

    <select id="findByMemberIdAndProductId" resultType="com.outlier.shopping.cart.domain.entity.CartItem">
        select *
        from cart_item c
        where member_id = #{memberId}
        and product_id = #{productId}
    </select>

    <resultMap id="findByMemberIdAndProductIdResultMap" type="com.outlier.shopping.cart.domain.entity.CartItem">
        <id property="id" column="id" />
        <result property="quantity" column="quantity" />
        <association property="product" javaType="com.outlier.shopping.product.domain.entity.Product" resultMap="productResultMap" />
        <association property="member" javaType="com.outlier.shopping.member.domain.entity.Member" resultMap="memberResultMap" />
    </resultMap>

    <resultMap id="productResultMap" type="com.outlier.shopping.product.domain.entity.Product">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="price" column="price" />
    </resultMap>

    <resultMap id="memberResultMap" type="com.outlier.shopping.member.domain.entity.Member">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="nickname" column="nickname" />
    </resultMap>
</mapper>
