<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outlier.shopping.order.repository.OrderMapper">
    <insert id="save" parameterType="com.outlier.shopping.order.repository.OrderMapper"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into orders(member_id, total_price)
        value(#{member.id}, #{totalPrice})
    </insert>
</mapper>
